<% provide(:title, "XML Sender") %>
<div class="col-sm-2 placeholder">
    <%= simple_form_for :manager, :remote => true, url: 'xml_sender/manager_choise', html: { class: 'form-group' } do |f| %>
    <!--%= manager_list.input :name,:required => false, :label => 'Настроенные менеджеры очередей', input_html: {onclick: 'test_call(1)'}, collection: QueueManager.select(:name) %-->
    <%= f.input :manager_name, :required => false, :label => 'Настроенные менеджеры очередей', :collection => @qm %>
    <%= f.button :submit, 'Получить настройки', class: 'btn btn-primary'%>
    <% end %>

    <%= simple_form_for :mq_attributes, :remote => true, url: 'xml_sender/send_to_queue', html: { class: 'form-group' } do |f| %>
    <%= f.input :queue, :label => 'Имя очереди', :required => false, placeholder: 'Например: test_in' %>
    <%= f.input :host, :label => 'Хост', :required => false , placeholder: 'Например: localhost' %>
    <%= f.input :port, :label => 'Порт', :required => false , placeholder: 'Например: 61613' %>
    <%= f.input :user, :label => 'Имя пользователя', :required => false , placeholder: 'Например: admin' %>
    <%= f.input :password, :label => 'Пароль пользователя', :required => false , input_html: {value: 'admin'}, placeholder: 'Например: password' %>
</div>
<div class="col-sm-4 placeholder">
    <%= f.input :xml, as: :text, :label => 'XML файл', :required => false, input_html: { class: 'form-control', :style=> 'height: 500px', id: 'exampleInputEmail1', placeholder: 'Место для XML:)' } %>
    <%= f.button :submit, 'Отправить', class: 'btn btn-primary'%>
<% end %>
</div>
  <div class="col-sm-3 placeholder" id="select_product">

    <%= simple_form_for :xml, :remote => true, url: 'xml_sender/put_xml', html: { class: 'form-group' } do |f| %>
      <%= f.input :product_name,:required => false, :label => 'Выберите продукт', :collection => @product, label_method: :product_name%>
      <div class="xml_select">
      <%= f.input :select_xml_name, :required => false, :label => 'Выберите xml файл', :collection => @product, as: :grouped_select ,group_method: :xmls, group_label_method: :product_name, label_method: :xml_name%>
      </div>
      <%= f.button :submit, 'Вставить xml', class: 'btn btn-primary'%>
      <%= link_to 'Добавить XML', xml_sender_new_path, 'data-no-turbolink' => true, :class => 'btn btn-primary' %>
      <%= link_to 'Кодировать', xml_sender_tester_path, :remote => true, :class => 'btn btn-primary' %>
    <% end %>
    </div>