<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<style type="text/css">
  .tabs { width: 1050px; padding: 0px; margin: 0 auto; }
  .tabs>input { display:none; }
  .tabs>div { display: none;
    padding: 12px;
    border: 1px solid #C0C0C0;
    background: #FFFFFF;
  }
  .tabs>label {
    display: inline-block;
    padding: 7px;
    margin: 0 -5px -1px 0;
    text-align: center;
    color: #666666;
    border: 1px solid #C0C0C0;
    background: #E0E0E0;
    cursor: pointer;
  }
  .tabs>input:checked + label {
    color: #000000;
    border: 1px solid #C0C0C0;
    border-bottom: 1px solid #FFFFFF;
    background: #FFFFFF;
  }
  #tab_1:checked ~ #txt_1,
  #tab_2:checked ~ #txt_2,
  #tab_3:checked ~ #txt_3,
  #tab_4:checked ~ #txt_4,
  #tab_5:checked ~ #txt_5 { display: block; }
</style>
<div class="tabs">
  <input type="radio" name="inset" value="" id="tab_1" checked>
  <label for="tab_1">Отчет по тестированию</label>

  <input type="radio" name="inset" value="" id="tab_2">
  <label for="tab_2">Задачи тестирования</label>

  <input type="radio" name="inset" value="" id="tab_3">
  <label for="tab_3">Дефекты/консультации</label>

  <input type="radio" name="inset" value="" id="tab_4">
  <label for="tab_4">Дефекты ДЭИС</label>

  <input type="radio" name="inset" value="" id="tab_5">
  <label for="tab_5">Не проектное списание</label>

  <div id="txt_1">
    <div style="text-align: center;"></div>
    <div style="text-align: center; "><strong>Отчет по тестированию продукта <%=	report_params[:product]  %></strong></div>
    <div style="text-align: center;"><strong><%=	report_params[:summary]  %></strong></div><br>
    <div style="font-weight: normal;"></div>
    <table border="2" cellspacing="2" cellpadding="3" width="1000" bordercolor="" align="center" style="font-weight: normal; text-align: left;" rules="all">
      <tbody>
      <tr bgcolor="#99CC00">
        <td colspan="2"><strong style="color: #ffffff;"><span style="color: #ffffff;">Общая информация о тестировании</span></strong></td>
      </tr>
      <tr>
        <%	keys = @report.project_name.split(',') %>
        <td rowspan="<%= keys.size %>">Коды проектов</td>
        <td><%= keys.first.slice(1..-2) %></td>
      </tr>
      <%	 if keys.size > 1 %>
        <%	 for i in 1...keys.size %>
          <tr>
            <td><%= keys[i].slice(1..-2)%></td>
          </tr>
        <%	 end %>
      <%	 end %>
      <tr>
        <td>Даты проведения тестирования</td>
        <td><%=	@worklog_time.min.to_date  %> - <%=	@worklog_time.max.to_date  %></td>
      </tr>
      <tr>
        <td>QA инженеры</td>
        <td><%=@worklog_autor %></td>
      </tr>
      <tr>
        <td>Ссылка на план тестирования</td>
        <td><a href="<%=	report_params[:test_plan]  %>" target="_blank" title="Wiki"><%=	report_params[:test_plan]  %></a></td>
      </tr>
      <tr>
        <td>Ссылка на TestRail</td>
        <td><a href="<%=	report_params[:test_rail]  %>" target="_blank" title="Wiki"><%=	report_params[:test_rail]  %></a></td>
      </tr>
      <tr bgcolor="#99CC00">
        <td colspan="2"><strong><span style="color: #ffffff;"> Информация о сборке</span></strong><br />
        </td>
      </tr>
      <!--tr>
        <td>Версия продукта</td>
        <td><!--%=	report_params[:build_version]  %></td>
      </tr-->
      <%	 if report_params[:build_link].size > 1 %>
        <tr>
          <td rowspan="<%= @build_links.size %>">Ссылки на сборки</td>
          <td><a href="<%= @build_links.first %>" target="_blank" title=""><%= @build_links.first %></a></td>
        </tr>
        <%	 for i in 1...@build_links.size %>
          <tr>
            <td><a href="<%= @build_links[i] %>" target="_blank" title=""><%= @build_links[i] %></a></td>
          </tr>
        <%	 end %>
      <%	 end %>
      <tr>
        <td>Release Note</td>
        <td><a href="https://jira.bssys.com/issues/?jql=key in (<%=	@rn  %>)" target="_blank" title="Wiki"><%=@rn%></a></td>
      </tr>
      <tr bgcolor="#99CC00">
        <td colspan="2"><strong><span style="color: #ffffff;">Тестовое покрытие</span></strong></td>
      </tr>
      <tr>
        <td>Выполненное тестирование</td>
        <td><%=	report_params[:testing].inspect.gsub('\n', '<br>').slice(1..-2)  %></td>
      </tr>
      <tr bgcolor="#99CC00">
        <td colspan="2"><strong><span style="color: #ffffff;">Оценка качества</span></strong></td>
      </tr>
      <tr>
        <td>
          <div>Качество версии</div>
        </td>
        <td><%=	report_params[:build_quality]  %></td>
      </tr>
      <tr>
        <td>Ограничения</td>
        <td><%=	report_params[:limitation].inspect.gsub('\n', '<br>').slice(1..-2)  %></td>
      </tr>
      <tr bgcolor="#99CC00">
        <td colspan="2"><strong><span style="color: #ffffff;">Трудозатраты</span></strong></td>
      </tr>
      <tr>
        <td>Плановая оценка эксперта тестирования без рисков</td>
        <td><a href="https://jira.bssys.com/issues/?jql=key in (<%=	report_params[:backlog_keys]  %>)" target="_blank" title="Wiki"><%=@backlog_estimate%>ч</a></td>
      </tr>
      <tr>
        <td>Плановая оценка МП</td>
        <td><a href="https://jira.bssys.com/issues/?jql=key in (<%=	@report.projects  %>)" target="_blank" title="Wiki"><%=@project_estimate%>ч</a></td>
      </tr>
      <tr>
        <td>Списания в задачи тестирования</td>
        <td><%= @testing_worklogtime/60 %>ч <%= @testing_worklogtime%60 %>м</td>
      </tr>
      <tr>
        <td>Списания в дефекты</td>
        <td><%= @defect_worklogtime/60 %>ч <%= @defect_worklogtime%60 %>м</td>
      </tr>
      <tr>
        <td>Списания в дефекты от ДЭИС</td>
        <td><%= @deis_defect_worklogtime/60 %>ч <%= @deis_defect_worklogtime%60 %>м</td>
      </tr>
      <tr>
        <td>Списания в консультации</td>
        <td><%= @consultation_worklogtime/60 %>ч <%= @consultation_worklogtime%60 %>м</td>
      </tr>
      <tr>
        <td>Списания в согласования</td>
        <td><%= @agreement_worklogtime/60 %>ч <%= @agreement_worklogtime%60 %>м</td>
      </tr>
      <tr>
        <td>Все трудозатраты по тестированию</td>
        <%	all_worklog = @testing_worklogtime + @defect_worklogtime + @deis_defect_worklogtime + @consultation_worklogtime + @agreement_worklogtime  %>
        <td><%= all_worklog/60 %>ч <%= all_worklog%60 %>м</td>
      </tr>
      <tr>
        <td>Осталось часов по оценке тестирования</td>
        <% time = @backlog_estimate-(all_worklog.to_f/60) %>
        <% if time >= 0%>
          <td><font color="green"><%= time.round(2) %>ч</font></td>
        <%	 else %>
          <td><font color="red"><%= time.round(2) %>ч</font></td>
        <%	 end %>
      </tr>
      <tr bgcolor="#99CC00">
        <td colspan="2"><strong><span style="color: #ffffff;">Информация о дефектах</span></strong></td>
      </tr>
      <tr>
        <td>Всего дефектов</td>
        <td><%=	 @def_tasks.length %></td>
      </tr>
      <td>Дефекты с приемки (если была)</td>
      <td><%= @deis_def.length%></td>
      </tr>
      <tr>
        <td>Всего подтвержденных дефектов с приемки</td>
        <td><%=	 @deis_defect_true_count %></td>
      </tr>
      <tr>
      <tr>
        <td>Открытых дефектов (без приемки)</td>
        <td><%=	 @open_def.length %></td>
      </tr>
      <tr>
        <td>Открытых БКВ</td>
        <td><%=	 @open_def_bkv %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="txt_2">
    <div style="text-align: center;"></div>
    <div style="text-align: center; "><strong>Все задачи тестирования</strong></div><br>
    <div style="font-weight: normal;"></div>
    <table border="2" cellspacing="2" cellpadding="3" width="1000" bordercolor="" align="center" style="font-weight: normal; text-align: left;" rules="all">
      <tbody>
      <tr bgcolor="#99CC00">
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Тема</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Задача</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Оценка</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Списано</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Статус</span></strong></td>
      </tr>
      <% sum_est, sum = 0,0 %>
      <% @test_tasks.each_value do |value| %>
        <tr>
          <td><%= value[0].to_s %></td>
          <td><a href="https://jira.bssys.com/browse/<%= value[1] %>" target="_blank" title=""><%= value[1] %></a></td>
          <td><%= value[2].to_i/60 %>ч <%= value[2].to_i%60 %>м</td>
          <td><%= value[3].to_i/60 %>ч <%= value[3].to_i%60 %>м</td>
          <td><%= value[4].to_s %></td>
        </tr>
        <% sum += value[3].to_i%>
        <% sum_est += value[2].to_i%>
      <%	 end %>
      <tr bgcolor="#99CC00">
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Итого:</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"><%= sum_est/60 %>ч <%= sum_est%60 %>м</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"><%= sum/60 %>ч <%= sum%60 %>м</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="txt_3">
    <div style="text-align: center;"></div>
    <div style="text-align: center; "><strong>Дефекты/консультации/согласования</strong></div><br>
    <div style="font-weight: normal;"></div>
    <table border="2" cellspacing="2" cellpadding="3" width="1000" bordercolor="" align="center" style="font-weight: normal; text-align: left;" rules="all">
      <tbody>
      <tr bgcolor="#99CC00">
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Тема</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Задача</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Приоритет</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Списано</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Статус</span></strong></td>
      </tr>
      <tr>
        <td><strong>Дефекты:</strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
        <td><strong></strong></td>
      </tr>
      <% sum = 0 %>
      <% @def_tasks.each_value do |value| %>
        <tr>
          <td><%= value[0].to_s %></td>
          <td><a href="https://jira.bssys.com/browse/<%= value[1] %>" target="_blank" title=""><%= value[1] %></a></td>
          <td><%= value[2].to_s %></td>
          <td><%= value[3].to_i/60 %>ч <%= value[3].to_i%60 %>м</td>
          <td><%= value[4].to_s %></td>
        </tr>
        <% sum += value[3].to_i%>
      <%	 end %>
      <% if @cons_tasks.any? %>
        <tr>
          <td><strong>Консультации:</strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
        </tr>
        <% @cons_tasks.each_value do |value| %>
          <tr>
            <td><%= value[0].to_s %></td>
            <td><a href="https://jira.bssys.com/browse/<%= value[1] %>" target="_blank" title=""><%= value[1] %></a></td>
            <td><%= value[2].to_s %></td>
            <td><%= value[3].to_i/60 %>ч <%= value[3].to_i%60 %>м</td>
            <td><%= value[4].to_s %></td>
          </tr>
          <% sum += value[3].to_i%>
        <%	 end %>
      <%	 end %>
      <% if @agree_tasks.any? %>
        <tr>
          <td><strong>Согласования:</strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
          <td><strong></strong></td>
        </tr>
        <% @agree_tasks.each_value do |value| %>
          <tr>
            <td><%= value[0].to_s %></td>
            <td><a href="https://jira.bssys.com/browse/<%= value[1] %>" target="_blank" title=""><%= value[1] %></a></td>
            <td><%= value[2].to_s %></td>
            <td><%= value[3].to_i/60 %>ч <%= value[3].to_i%60 %>м</td>
            <td><%= value[4].to_s %></td>
          </tr>
          <% sum += value[3].to_i%>
        <%	 end %>
      <%	 end %>
      <tr bgcolor="#99CC00">
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Итого: <%= @def_tasks.length + @cons_tasks.length + @agree_tasks.length %></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"><%= sum/60 %>ч <%= sum%60 %>м</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="txt_4">
    <div style="text-align: center;"></div>
    <div style="text-align: center; "><strong>Дефекты и Консультации с приемки ДЭИС (Этап = 'Приемка ДЭИС')</strong></div><br>
    <div style="font-weight: normal;"></div>
    <table border="2" cellspacing="2" cellpadding="3" width="1000" bordercolor="" align="center" style="font-weight: normal; text-align: left;" rules="all">
      <tbody>
      <tr bgcolor="#99CC00">
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Тема</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Задача</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Списано QA</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Резолюция</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Статус</span></strong></td>
      </tr>
      <% sum = 0%>
      <% @deis_def.each_value do |value| %>
        <tr>
          <td><%= value[0].to_s %></td>
          <td><a href="https://jira.bssys.com/browse/<%= value[1] %>" target="_blank" title=""><%= value[1] %></a></td>
          <td><%= value[2].to_i/60 %>ч <%= value[2].to_i%60 %>м</td>
          <td><%= value[3] %></td>
          <td><%= value[4] %></td>
        </tr>
        <% sum += value[2].to_i%>
      <%	 end %>
      <tr bgcolor="#99CC00">
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Итого: <%= @deis_def.length %></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"><%= sum/60 %>ч <%= sum%60 %>м</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div id="txt_5">
    <div style="text-align: center;"></div>
    <div style="text-align: center; "><strong>Задачи без метки или с другой меткой, вне приемки.<br>Т.е. задачи, в которых или забыли проставить метку или которые не относятся напрямую к проекту</strong></div><br>
    <div style="font-weight: normal;"></div>
    <table border="2" cellspacing="2" cellpadding="3" width="1000" bordercolor="" align="center" style="font-weight: normal; text-align: left;" rules="all">
      <tbody>
      <tr bgcolor="#99CC00">
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Тема</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Задача</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Тип</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Списано</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Статус</span></strong></td>
      </tr>
      <% sum = 0%>
      <% @other_tasks.each_value do |value| %>
        <tr>
          <td><%= value[0].to_s %></td>
          <td><a href="https://jira.bssys.com/browse/<%= value[1] %>" target="_blank" title=""><%= value[1] %></a></td>
          <td><%= value[2] %></td>
          <td><%= value[3].to_i/60 %>ч <%= value[3].to_i%60 %>м</td>
          <td><%= value[4] %></td>
        </tr>
        <% sum += value[3].to_i%>
      <%	 end %>
      <tr bgcolor="#99CC00">
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;">Итого: <%= @other_tasks.length %></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"><%= sum/60 %>ч <%= sum%60 %>м</span></strong></td>
        <td><strong style="color: #ffffff;"><span style="color: #ffffff;"></span></strong></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
</html>