<% provide(:title, "EGG AutoTests") %>
<div class="col">
  <div class="row">
    <div class="col-md placeholder">
      <div class="form-group">
        <label for="xml_to_send" id="label_for_xml"><b>Лог:</b></label>
        <textarea class="form-control" id="egg_autotests_log" style="height:750px; background-color:black; color: #00e600;"></textarea>
      </div>
    </div>
    <div class="col-md-3 placeholder" id="select_product">
      <%= simple_form_for :test_data, remote: 'true', url: egg_auto_tests_run_egg_path, html: {class: 'form-group' } do |f| %>
        <div style="display: none;">
          <%= f.input :egg_version, label: 'Выберите версию eGG:', selected: 'eGG 6.7', collection: ['eGG 6.7', 'eGG 6.8'], required: false %>
        </div>
        <div id="egg_67">
          <%= f.input :functional_egg67, label: 'Выберите проверки', collection: @egg67_components, include_hidden: false, required: false, input_html: { multiple: true, style: "height:300px"} %>
        </div>
        <div id="egg_68" style="display:none">
          <%= f.input :functional_egg68, label: 'Выберите проверки', collection: @egg68_components, include_hidden: false, required: false, input_html: { multiple: true, style: "height:300px"} %>
        </div>
        <div class="col">
          <ul class="nav nav-tabs" id="mqTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="output-tab" data-toggle="tab" href="#output" role="tab" aria-controls="output" aria-selected="true">Запуск</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="input-tab" data-toggle="tab" href="#input" role="tab" aria-controls="input" aria-selected="false">Настройки</a>
            </li>
          </ul>
          <!-- Первая вкладка -->
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="output" role="tabpanel" aria-labelledby="output-tab">
              <%= f.input :build_version, label: 'Выберите сборку:', collection: @dir, required: false %>
              <%= f.button :submit, 'Запустить', id: 'run-button', class: 'btn-primary', onclick: "clear_log_egg(); document.getElementById('download-link').style.display = 'none';"%>
              <a class="btn btn-primary form-group" id="download-link" href="" style="display: none;" onclick="this.style.display = 'none';">Скачать лог</a>
              <!--<a class="btn btn-primary form-group" id="tester" href="egg_auto_tests/tester" data-remote="true">Click</a>-->
            </div>
            <!-- Вторая вкладка -->
            <div class="tab-pane fade" id="input" role="tabpanel" aria-labelledby="input-tab">
              <%= f.input :egg_dir, label: 'Каталог eGG:', required: false, input_html: {value: 'C:\\EGG'} %>
              <%= f.input :try_count, label: 'Кол-во попыток отправки в СМЭВ:', required: false, input_html: {value: '3'} %>
              <%= f.input :drop_db, as: :boolean, :label => 'Удалять БД перед тестом', checked_value: true, unchecked_value: false, input_html: {checked: true} %>
              <%= f.input :dont_drop_db, as: :boolean, :label => 'Не удалять БД и eGG после теста', checked_value: true, unchecked_value: false, input_html: {checked: false} %>
              <%= f.input :dont_stop_egg, as: :boolean, :label => 'Не останавливать eGG после теста', checked_value: true, unchecked_value: false, input_html: {checked: false} %>
              <%= f.input :dont_install_egg, as: :boolean, :label => 'Не устанавливать eGG', checked_value: true, unchecked_value: false, input_html: {checked: false} %>
            </div>
          </div>
        <!--%= f.input :dont_clear_db, as: :boolean, :label => 'Не очищать БД после теста', checked_value: true, unchecked_value: false, input_html: {checked: false} %-->
      <%end%>
    </div>
  </div>
</div>
<%= render 'layouts/modal_xml_sender' %>