<% provide(:title, "TIR AutoTests") %>
<div class="col">
  <div class="row">
    <div class="col-md placeholder">
      <div class="form-group">
        <label for="xml_to_send" id="label_for_xml"><b>Лог:</b></label>
        <textarea class="form-control" id="tir_autotests_log" style="height:750px; background-color:black; color: #00e600;"></textarea>
      </div>
    </div>
    <div class="col-md-3 placeholder" id="select_product">
      <%= simple_form_for :test_data, remote: 'true', url: tir_auto_tests_run_path, html: {class: 'form-group' } do |f| %>
        <%= f.input :tir_version, label: 'Выберите версию платформы:', selected: 'ТИР 2.2', collection: ['ТИР 2.2', 'ТИР 2.3'], required: false %>
        <div id="tir_22">
          <%= f.input :functional_tir22, label: 'Выберите проверки', collection: @tir22_components, include_hidden: false, required: false, input_html: { multiple: true, style: "height:300px"} %>
        </div>
        <div id="tir_23" style="display:none">
          <%= f.input :functional_tir23, label: 'Выберите проверки', collection: @tir23_components, include_hidden: false, required: false, input_html: { multiple: true, style: "height:300px"} %>
        </div>
      <%= f.button :submit, 'Запустить', id: 'run-button', class: 'btn-primary', onclick: "clear_log(); updateLog(); document.getElementById('download-link').style.display = 'none';"%>
      <%end%>
      <a class="btn btn-primary form-group" id="download-link" href="" style="display: none;" onclick="this.style.display = 'none';">Скачать лог</a>
    </div>
  </div>
</div>
<%= render 'layouts/modal_xml_sender' %>