<% provide(:title, "TIR AutoTests") %>
<div class="col">
  <div class="row">
    <div class="col-md placeholder">
      <div class="form-group">
        <label for="xml_to_send" id="label_for_xml"><b>Лог:</b></label>
        <textarea class="form-control" id="tir_autotests_log" style="height:750px; background-color:black; color: #00e600;"></textarea>
      </div>
    </div>
    <div class="col-md-3 placeholder" id="select_product">
      <%= simple_form_for :test_data, remote: 'true', url: tir_auto_tests_run_path, html: {class: 'form-group' } do |f| %>
        <%= f.input :tir_version, label: 'Выберите версию платформы:', selected: 'ТИР 2.3', collection: ['ТИР 2.3', 'ТИР 2.4'], required: false %>
        <div id="tir_23">
          <%= f.input :functional_tir23, label: 'Выберите проверки', collection: @tir23_components, include_hidden: false, required: false, input_html: { multiple: true, style: "height:300px"} %>
        </div>
        <div id="tir_24" style="display:none">
          <%= f.input :functional_tir24, label: 'Выберите проверки', collection: @tir24_components, include_hidden: false, required: false, input_html: { multiple: true, style: "height:300px"} %>
        </div>
        <%= f.input :build_version, label: 'Выберите сборку:', collection: @dir, required: false %>
        <%= f.input :tir_dir, label: 'Каталог ТИР:', required: false, input_html: {value: 'C:\\TIR'} %>
        <%= f.input :dont_clear_db, as: :boolean, :label => 'Не очищать БД после теста', checked_value: true, unchecked_value: false, input_html: {checked: false} %>
        <%= f.input :dont_drop_db, as: :boolean, :label => 'Не удалять БД и ТИР после теста', checked_value: true, unchecked_value: false, input_html: {checked: false} %>
        <%= f.input :dont_stop_TIR, as: :boolean, :label => 'Не останавливать ТИР после теста', checked_value: true, unchecked_value: false, input_html: {checked: false} %>
        <%= f.button :submit, 'Запустить', id: 'run-button', class: 'btn-primary', onclick: "clear_log(); document.getElementById('download-link').style.display = 'none';"%>
      <%end%>
      <a class="btn btn-primary form-group" id="download-link" href="" style="display: none;" onclick="this.style.display = 'none';">Скачать лог</a>
      <!--a class="btn btn-primary form-group" id="tester" href="tir_auto_tests/tester" data-remote="true">Click</a-->
    </div>
  </div>
</div>
<%= render 'layouts/modal_xml_sender' %>