<table class="table table-dark">
  <thead>
  <tr>
    <th scope="col"><font color="yellow">Ключ</font></th>
    <th scope="col"><font color="yellow">Описание</font></th>
    <th scope="col"><font color="yellow">Дата создания</font></th>
    <th scope="col"><font color="yellow">Статус</font></th>
    <th scope="col"><font color="yellow">Причина пропуска</font></th>
    <% if logged_in? && current_user.admin? %>
      <th scope="col"><font color="yellow">Действия</font></th>
    <% end  %>
  </tr>
  </thead>
  <tbody>
  <% resource.each do |defect| %>
    <tr>
      <td><%= link_to defect.key, "https://jira.bssys.com/browse/#{defect.key}", target: '_blank' %></td>
      <td><%= defect.summary %></td>
      <td><%= defect.created %></td>
      <td><%= defect.status %></td>
      <td><%= best_in_place defect, :reason, as: :textarea,
                            # :ok_button => "Ok",
                            # :ok_button_class => "button_best_in_place",
                            # :cancel_button => "Отмена",
                            # :cancel_button_class => "button_best_in_place",
                            :place_holder => "Кликнуть для заполнения"%></td>
      <% if logged_in? && current_user.admin? %>
        <td><%= link_to "Удалить", external_defect_list_path(defect), method: :delete, data: {confirm: 'Точно?'} %></td>
      <% end  %>
    </tr>
  <% end %>
  </tbody>
</table>
