<% provide(:title, 'Новая доработка') %>
<!DOCTYPE HTML>
<html>
<head>
  <meta charset="utf-8">
</head>
<body>
<div class="container">
  <%= simple_form_for [@plan, @new_feature], remote: true, html: {class: 'form-group' } do |f| %>
    <%= f.input :name, :label => 'Название доработки' %>
    <%= f.input :labels, :label => 'Метка для задач', :placeholder => 'Например: eGG_java8' %>
    <%= f.input :project_name, :label => 'Название проекта', :placeholder => 'Например: 25898_BSS_13_Law6.11' %>
    <%= f.input :backlog, :label => 'Задача с оценкой тестирования', :placeholder => 'Например: BACKLOG-24724' %>
    <%= f.input :feature_url, :label => 'Ссылка на доработку', :placeholder => 'Например: SVZMTAG-44' %>
    <%= f.input :test_scope, as: :text, :label => 'Что будет проверено', :input_html => { :value=> "1. \n2. "} %>
    <%= f.input :tz, :label => 'Ссылка на ТЗ' %>
    <%= f.input :milestone, :label => 'Ссылка на MileStone в Test Rail' %>
    <%= f.input :testcases, :label => 'Ссылка на кейсы в Test Rail' %>
    <%= f.input :analytic, as: :select, :label => 'Аналитики', collection: @analytic.sort, include_hidden: false, label_method: :second, value_method: :second, input_html: { multiple: true, style: "height:100px"} %>
    <%= f.input :developer, as: :select, :label => 'Разработчики', collection: @developer.sort, include_hidden: false, label_method: :second, value_method: :second, input_html: { multiple: true, style: "height:100px"} %>
    <%= f.input :qa, as: :select, :label => 'Тестировщики', collection: $qa.sort, include_hidden: false, label_method: :second, value_method: :second, input_html: { multiple: true, style: "height:100px"} %>
    <%= f.input :manager, as: :select, :label => 'Менеджер проекта', collection: @manager.sort, include_hidden: false, label_method: :second, value_method: :second, input_html: { multiple: true, style: "height:100px"}%>
    <%= f.submit 'Сохранить доработку', class: 'btn btn-primary' %>
  <%	 end %>
  <%= link_to 'Назад', @plan, {:class => "btn btn-primary form-group" } %>
</div>
<%= render 'layouts/modal_xml_sender' %>
</body>
</html>