<nav class="col-sm-1 col-md-1 d-none d-sm-block bg-light sidebar">
  <ul class="nav nav-pills flex-column ">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if current_page? controller: :main_page %>" <%= link_to "Главная", root_path %><span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if current_page? controller: :xml_sender %>" <%= link_to "XML Sender", xml_sender_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if current_page? controller: :simple_tests %>" <%= link_to "Simple Tests", simple_tests_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if current_page? controller: :tir_auto_tests %>" <%= link_to "TIR AutoTests", tir_auto_tests_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if current_page? controller: :egg_auto_tests %>" <%= link_to "EGG AutoTests", egg_auto_tests_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if current_page? controller: :test_reports %>" <%= link_to "Test Reports", test_reports_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if current_page? controller: :test_plans %>" <%= link_to "Test Plans", test_plans_path %></a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if current_page? controller: :cc_format_validator %>" <%= link_to "CC Validator", cc_format_validator_path %></a>
    </li>
  </ul>
  <footer class="footer"></footer>
</nav>
