<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title))%></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/ie9' %>
</head>

<body>
<%= render 'layouts/header' %>

<div class="container-fluid">
  <div class="row">
    <%= render 'layouts/left_menu' %>
    <div class="col-md-1"></div>
    <main role="main" class="col-md pt-3">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <h2><%= yield(:title)%></h2>
      <section class="row text-left placeholders">
        <%= yield %>
      </section>
    </main>
  </div>
</div>
</body>
</html>